


.oo{
    margin-left:10px;
}
.up{
    margin-bottom: 0px;
}

.q{
    text-align: center;
}
.s{
    text-align:center;
    margin-top:5px;
}
.pq{
    margin-left:15px;
    margin-top:20px;
   
}

.log{
    background:rgba(0, 204, 255,0.5);
    margin-top:140px;
    border:3px solid black;
    
}
.ty{
text-align: center;
}


.little{
    font-family: kalam;
    color:white;
    font-size:30px
}