.imo{
    color:white;
    font-size: 50px;
    font-family:kalam;
    text-align: center;
    margin-top:200px;
}
.container{
    background:black;
}

.ls{
    margin-top:50px;
    margin-bottom:40px;
}

.po{
    margin-bottom:25px;
}